<% provide(:title, 'Help') %>


    <h1>Help</h1>
        <p>
          Помощь по Руби здесь
          <a href="http://railstutorial.org/help"> Рейлс туториал</a>
          Помощь по этому примеру здесь
          <a href="http://railstutorial.org/book"> Рейлс книга</a>
        </p>



